h1{
    text-align: center;
    color: forestgreen;
}

br {
    font: verdana;
}

tr {
    background-color: lightyellow;
}

td{
    border: forestgreen solid 1px;
    height: 150px;
    width: 250px;
}

table{
    text-align: center;
}

a:hover {
    background-color:crimson;
}
